################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImageYOLOManipulation/.vs/ImageYOLOManipulation/v15
